$link-color: #b31b1b;            // red links
$btn-primary-color: #b31b1b;
$sidebar-color: #f3f0f0;         // light warm gray/pink
$body-background-color: #fcf8f8; // subtle background tint
$body-heading-color: #2f2f2f;
$nav-child-link-color: #5a5a5a;
$search-background-color: #ffffff;
$search-result-preview-color: #666666;
